.todoList {
  /* background-color: beige; */
  font-size: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 400px;
  /* width: 380px; */
}

.todoList__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  outline: auto;
  padding: 10px;
}

.todoList__stat {
  width: 400px;
}
